#checkbox_wrapper {
  display: inline-block;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0.2rem;
  margin: 5px;
  z-index: 2;
  /* border: 2px solid black; */
}

#checkbox_wrapper span {
  border-radius: 0.5rem;
  border: 1px solid #cad1d4;
  z-index: 2;
  background-color: #ffffff;
}

#checkbox_wrapper label {
  margin-left: 0.6rem;
  max-width: calc(100%);
  overflow-wrap: break-word;
  word-wrap: keep-all;
  text-align: start;
}

#checkbox_wrapper input[type="checkbox"] {
  appearance: none;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkbox_wrapper input[type="checkbox"]:checked {
  background-color: green;
}

.nested_data_wrapper {
  margin: 10px 10px 10px 15px;
  position: relative;
  /* border: 2px solid black; */
}

.nested_data_wrapper hr {
  position: absolute;
  left: 46px;
  border: 1px dotted grey;
  z-index: 0;
}

.leaf_hr {
  width: 2%;
  max-width: 1rem;
  top: 13px;
  left: 0.75rem !important;
}

.nonleaf_hr {
  height: 90%;
  top: 30px;
}

.expandToggler_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nested_children {
  margin-left: 20px;
}

.expand-toggler {
  padding: 0.2rem;
  border: 1px solid #74838f;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #74838f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffffff;
  z-index: 2;
}
